/* Base Styles */
body {
  background-color: #edf0f3;
  color: #11446d;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-label {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #1b4b7b;
  text-align: center;
  font-weight: 700;
  margin: 1rem 0;
}

a {
  font-weight: 500;
  color: #13568d;
  text-decoration: none;
}

a:hover {
  color: #1673bf;
}

button {
  background-color: #1bb8db;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

button:hover {
  background-color: #0d81ae;
}

/* Responsive Typography */
@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  button {
    width: 100%;
  }
}